.BuildControls {
    display: inline-block;
    width: 100%;
    background: #001f3f;
    height: 87vh;
}

.price{
    border-top: 1px solid #fff;
    margin-top: 250px;
    padding-top: 25px;
    color:white;
    font-weight: bold;
    font-size: 22px;
}
