.Burger {
  display: inline-block;
  width: auto;
  text-align: center;
  font-weight: bold;
}

.burgerBlock {
  background: #001f3f;
}

@media (min-width: 500px) and (min-height: 300px) {
  .Burger {
    width: 350px;
    height: 240px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Burger {
    width: 450px;
    height: 240px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 700px;
    height: 240px;
  }
}
