.contentBlock {
    display: flex;
    flex-wrap: wrap;
}

.burgerBlock {
    width: 70%;
    padding-top: 50px;
    color: white;
}

.builderBlock {
    width: 29.7%;
    border-left: 5px solid #ccc;
}
