.BuildControl {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 22px;
}

.BuildControl button {
    display: block;
    padding: 5px;
    width: 80px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 22px;
}

.BuildControl button:hover {
    background: #001f3f;
    color: #fff;
}


.BuildControl button:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    color: #fff;
}

.BuildControl .Less {
    background-color: #D39952;
    color: white;
}

.BuildControl .More {
    background-color: #8F5E1E;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
    background-color: #DAA972;
    color: white;
}

.BuildControl .More:hover, .BuildControl .More:active {
    background-color: #99703F;
    color: white;
}
