.Toolbar{
    width: 100%;
    background: #7d4c3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 5px solid #ccc;
}

img {
    width: 120px;
}
